#diffPopup,
#diffPopupSuccess,
#diffPopupFail {
    width: 636.48px;
    height: 458.64px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
    position: absolute;
}

#diffPrompt {
    padding: 10% 5%;
    font-size: 25px;
}

#diffStartButton {
    left: 37.5%;
    width: 25%;
    top: 70%;
}

#diffTAButton,
#diffEndButton {
    left: 37.5%;
    width: 25%;
    top: 55%;
}

#diffPromptSuccess,
#diffPromptFail {
    padding: 20% 5%;
    font-size: 25px;
    line-height: 30px;
}

.diffCircle {
    opacity: 0;
    height: 60px;
    width: 60px;
}

.circle {
    height: 60px;
    width: 60px;
}

.circle > img {
    height: 100%;
    width: 100%;
}

#diffArea {
    display: flex;
    justify-content: center;
}

#photoContainer {
    height: 440px;
    width: 620px;
    background-color: azure;
    position: absolute;
    top: 25px;
    left: 130px;
    display: block;
}

#photoContainer>img {
    display: block;
    position: relative;
}

#footerCounter {
    position: absolute;
    display: block;
    top: 465px;
    left:130px;
    height: 80px;
    width: 620px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
}

.diffFooter {
    position: absolute;
    
}

.counterCircles {
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: lightgray;
    height: 13px;
    position: relative;
    top: 10px;
    margin: 0px 20px;
}


.counterCircles.green {
    background-color: green;
    font-size: 20px;
}

#diffTimer {
    text-align: left;
    padding: 15% 5%;
    font-size: 20px;
}

#circle1L { /*compass*/
    position: absolute;
    left: 240px;
    top: 56px;
}

#circle1R {
    position: absolute;
    left: 544px;
    top: 56px;
}

#circle2L { /*water*/
    position: absolute;
    left: 263px;
    top: 195px;
}

#circle2R {
    position: absolute;
    left: 567px;
    top: 195px;
}

#circle3L { /*lighter*/
    position: absolute;
    left: 60px;
    top: 285px;
}

#circle3R {
    position: absolute;
    left: 365px;
    top: 285px;
}

#circle4L { /*dagger*/
    position: absolute;
    left: 178px;
    top: 130px;
}

#circle4R {
    position: absolute;
    left: 483px;
    top: 130px;
}

#circle5L { /*apple*/
    position: absolute;
    left: 96px;
    top: 105px;
}

#circle5R {
    position: absolute;
    left: 401px;
    top: 105px;
}

#circle6L { /*bar*/
    position: absolute;
    left: 75px;
    top: 185px;
}

#circle6R {
    position: absolute;
    left: 380px;
    top: 185px;
}

#itemList {
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
}

.item.found{
    text-decoration: line-through;
}